* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #212F3D;
}

figure {
  width: auto!important;
}

figcaption {
  text-align: center;
  color: #6b6b6b;
  font-size: 14px;
  margin-top: 0.5em;
}

.wp-caption.aligncenter {
  text-align: center;
}

a.card-link {
  color: #212F3D;
  text-decoration: none;
}

a.card-link:hover {
  color: #212F3D;
  text-decoration: none;
}

a.card-link > .card {
  /* transition: 100mS transform, 100mS box-shadow; */
  transition: 100mS border-color;
  overflow: hidden;
}

a.card-link:hover > .card {
  /* box-shadow: 0 5px 20px 0 rgb(0 0 0 / 22%);
  transform: translateY(-10px); */
  border-color: #007bff;
}

a.card-link > .card > .microBlock-embed .blocklyMainBackground {
  stroke: none;
}

a.card-link > .card > .microBlock-embed {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

a.card-link:hover > .card > .microBlock-embed {
  border-color: #007bff;
}